[Unit]
Description=pacman update notify script
After=network-online.target

[Service]
Type=simple
ExecStartPre=/usr/bin/pacman-update-sync.sh
ExecStart=su USERNAME -c /usr/bin/pacman-update-notify.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
