[Unit]
Description=A pacman update notify script
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/pacman-update-notify-test.sh
User=hendrik
Group=hendrik

[Install]
WantedBy=multi-user.target
