[Unit]
Description=Run pacman update script on fixed times

[Timer]
OnBootSec=DELAYmin
OnUnitActiveSec=INTERVALmin
Unit=pacman-update-notify.service
Persistent=true

[Install]
WantedBy=multi-user.target
