[Unit]
Description=A pacman update notify script
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/pacman-update-notify.sh
User=USERNAME
Group=USERNAME

[Install]
WantedBy=multi-user.target
